@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* background: #360033; 
background: -webkit-linear-gradient(to right, #0b8793, #360033);  
background: linear-gradient(to right, #0b8793, #360033);   */

background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Patrick Hand', cursive;
}
